* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--frosted-mint);
  color: var(--evergreen);
}

section {
  padding: 80px 10%;
}

button {
  border: none;
  cursor: pointer;
}

#root {
  width: 100%;
}