.header {

  width: 99%;
  left: 0.5%;
  border-radius: 14px;

  height: 45px;

  display: flex;
  align-items: center;

  padding: 0 8%;


  background: rgba(216,243,220,0.85);

  border-bottom: 1px solid rgba(45,106,79,0.18);

  position: sticky;
  top: 1%;

  z-index: 100;

}



/* Логотип */

.logo {

    display: flex;

    width: 100px;

}



.logo img{

    width: 100px;

    height: 40px;

    object-fit: contain;

}



/* Меню */

nav {

  flex: 1;

  display: flex;

  justify-content: center;

  gap: 35px;

}



nav a {

  position: relative;

  text-decoration: none;


  color: var(--forest-ink);


  font-size: 15px;

  font-weight: 400;

  letter-spacing: 0.3px;

  transition: .25s ease;

}



nav a:hover {


  color: var(--glaucous);


}



/* маленька анімація */

nav a::after {

  content:"";

  position:absolute;

  bottom:-7px;

  left:50%;


  width:0;

  height:1px;


  background:var(--dark-emerald);


  transform:translateX(-50%);

  transition:.3s;

}



nav a:hover::after {

  width:100%;

}



/* пустий блок справа для балансу */

.header::after {

  content:"";

  flex:1;

}

/* =========================
   MOBILE ADAPTATION
========================= */


@media(max-width:900px){

.header{
    position: sticky;
    width:94%;
    left:3%;

    height:60px;

    padding:0 25px;

    border-radius:18px;

}



.logo{

    width:80px;

}


.logo img{

    width:80px;

    height:35px;

}


/* меню ховаємо на телефоні */

nav{

    display:none;

}



/* прибираємо баланс */

.header::after{

    display:none;

}


}





@media(max-width:600px){


.header{

    width:92%;

    left:4%;

    top:2%;

    height:58px;

    padding:0 18px;

    border-radius:20px;

}



.logo{

    width:75px;

}



.logo img{

    width:75px;

    height:32px;

}


}



@media(max-width:380px){


.header{

    width:90%;

    left:5%;

    padding:0 15px;

}



.logo{

    width:70px;

}


.logo img{

    width:70px;

}



}

/* =========================
   MOBILE MENU BUTTON
========================= */


.menu-toggle{

    display:none;

    background:none;

    border:none;

    cursor:pointer;

    width:35px;

    height:30px;

    flex-direction:column;

    justify-content:space-between;

}



.menu-toggle span{

    height:2px;

    width:100%;

    background:var(--dark-emerald);

    border-radius:10px;

    transition:.3s;

}



/* =========================
   MOBILE
========================= */


@media(max-width:900px){


.header{

    justify-content:space-between;

}



.menu-toggle{

    display:flex;

}



/* меню */

nav{

    position:absolute;

    top:75px;

    left:0;

    width:100%;


    display:flex;

    flex-direction:column;

    align-items:center;

    gap:25px;


    padding:30px 0;


    background:rgba(216,243,220,.95);

    backdrop-filter:blur(15px);


    border-radius:25px;


    opacity:0;

    pointer-events:none;


    transform:translateY(-20px);


    transition:.3s;

}




nav.open{

    opacity:1;

    pointer-events:auto;

    transform:translateY(0);

}



nav a{

    font-size:17px;

    color:var(--forest-ink);

}




/* анімація кнопки */


.menu-toggle.active span:nth-child(1){

    transform:translateY(14px) rotate(45deg);

}



.menu-toggle.active span:nth-child(2){

    opacity:0;

}



.menu-toggle.active span:nth-child(3){

    transform:translateY(-14px) rotate(-45deg);

}



}



@media(max-width:600px){


nav{

    top:70px;

}



}