.header {

  width: 99%;
  left: 0.5%;
  border-radius: 14px;

  height: 45px;

  display: flex;
  align-items: center;

  padding: 0 8%;


  background: rgba(216,243,220,0.85);

  border-bottom: 1px solid rgba(45,106,79,0.18);

  position: sticky;
  top: 1%;

  z-index: 100;

}



/* Логотип */

.logo {

    display: flex;

    width: 100px;

}



.logo img{

    width: 100px;

    height: 40px;

    object-fit: contain;

}



/* Меню */

nav {

  flex: 1;

  display: flex;

  justify-content: center;

  gap: 35px;

}



nav a {

  position: relative;

  text-decoration: none;


  color: var(--forest-ink);


  font-size: 15px;

  font-weight: 400;

  letter-spacing: 0.3px;

  transition: .25s ease;

}



nav a:hover {


  color: var(--glaucous);


}



/* маленька анімація */

nav a::after {

  content:"";

  position:absolute;

  bottom:-7px;

  left:50%;


  width:0;

  height:1px;


  background:var(--dark-emerald);


  transform:translateX(-50%);

  transition:.3s;

}



nav a:hover::after {

  width:100%;

}



/* пустий блок справа для балансу */

.header::after {

  content:"";

  flex:1;

}